:local(.half) {
  position: relative;
  display: flex;
  width: 50%;
}

:local(.cell) {
  min-width: 280px;
  height: 100%;
  position: relative;
  margin: 0;
  border: 0;
}

:local(.cell_active) {
  background-color: green;
}

:local(.flex_box) {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%
}